---
import MainLayout from "../layouts/Main-layout.astro";
import "../styles/style.css";
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Om os">
  <p>hej</p>
</MainLayout>
